*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    /* Inside page */


position: relative;
width: 414px;
max-width: 414px;
height: 1264px;

background: #FFFFFF;
}
/* header */
header {
    display: grid;
    position: absolute;
    width: 382px;
    height: 41px;
    left: 16px;
    top: 23px;
}

/* icon */
/* Auto Layout */

div.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 1px;
    
    position: absolute;
    left: 0%;
    right: 95.27%;
    top: 19.51%;
    bottom: 23.05%;
}

/* icon-arrow */

div.icon-arrow {
    position: static;
    left: 5.54%;
    right: 5.54%;
    top: 21.23%;
    bottom: 21.23%;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}



/* Name */

div.name {
    position: absolute;
    left: 32.46%;
    right: 27.49%;
    top: 14.63%;
    bottom: 21.95%;
    
}

h1 {
    /* h1 */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;
}

/* notification */
div.notification {
    position: absolute;
    left: 90.84%;
    right: 0.05%;
    top: 0%;
    bottom: 4.35%;
}

/* Indicator */

div.indicator {
    position: absolute;
    left: 93.19%;
    right: 0.05%;
    top: 0%;
    bottom: 44.44%;
}

/* 10 */

div.indicator_number {
    position: absolute;
    left: 94.5%;
    right: 1.12%;
    top: 4.88%;
    bottom: 46.97%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 174%;
    /* or 21px */
    
    text-align: center;
    
    color: #FFFFFF;
}
/* Group */

div.group {
    position: absolute;
    left: 93.19%;
    right: 0.05%;
    top: 0%;
    bottom: 44.44%;
}

/* indicator base */
div.indicator_base {
    position: absolute;
    left: 93.19%;
    right: 0.05%;
    top: 0%;
    bottom: 44.44%;
    
    background: #FFA325;
}



div {
    display: grid;
}
/* Group 57 */

div.group_57 {
    position: absolute;
    left: 90.84%;
    right: 3.93%;
    top: 41.46%;
    bottom: 4.35%;    
}

/* background */

div.background-container {
    position: absolute;
    width: 535px;
    height: 1264px;
    left: -44px;
    top: -61px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div.group1404 {
    /* Group 1404 */


display: flex;
position: absolute;
width: 414px;
height: 711px;
left: -3px;
top: 492px;
}

div.rectangle {
    /* Rectangle 2226 */
    position: absolute;
    width: 414px;
    height: 711px;
    left: -3px;
    top: 492px;

background: #FFFFFF;
border-radius: 30px 30px 0px 0px;
}

div.rectangle2228 {
    /* Rectangle 2228 */


position: absolute;
width: 421px;
height: 539px;
left: -10px;
top: -61px;

background: linear-gradient(180deg, #FBEDCE 17.78%, rgba(255, 245, 222, 0) 100%);
}
/* Vector */
div.vector {
    


position: absolute;
width: 535px;
height: 355px;
left: 491px;
top: 102px;

background: linear-gradient(180deg, #FFE3A4 50.15%, rgba(255, 239, 202, 0) 100%);
opacity: 0.3;
transform: matrix(-1, 0, 0, 1, 0, 0);
}